<div class="container">

    <br><br>
    <h3>Login</h3><br>

    <form nz-form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid E-mail!!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
                <!-- <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label> -->
            </div>
            <div nz-col [nzSpan]="12">
                <a class="login-form-forgot">Forgot password</a>
            </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or <a routerLink="/signup"> register now! </a>
        <!-- <p appHighlight>Highlight me (Custom Directive) !</p> -->
        <!-- <h1 [appHighlight]="color">Highlight me!</h1> -->
        <!-- <div>
            <input type="radio" name="colors" (click)="color='lightgreen'">Green
            <input type="radio" name="colors" (click)="color='yellow'">Yellow
            <input type="radio" name="colors" (click)="color='cyan'">Cyan
          </div> -->
    </form>

</div>