<div class="container">

    <br><br>
    <h3>Home</h3> <br>
    <button nz-button nzType="primary" routerLink="/signup" type="submit">Add new User</button>
    <nz-table #basicTable>
        <thead>
            <tr>
                <th>Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data?.fullname}}</td>
                <td>
                    <a>Edit</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>